$RECYCLE.BIN/
[Dd]esktop.ini
Thumbs.db
Thumbs.db:encryptable
ehthumbs.db
ehthumbs_vista.db
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent
.DS_Store
.AppleDouble
.LSOverride
.nfs*
.Trash-*
.directory
.fuse_hidden*
*~
node_modules/
.svelte-kit/
package/
.env
.env.*
!.env.example
.vscode/tasks.json
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
*.config.js
